menu "APPLICATION_CODE"

	config APPLICATION_WORKQUEUE_STACK_SIZE
		int "Application workqueue stack size"
		default 4096

	config APPLICATION_WORKQUEUE_PRIORITY
		int "Application workqueue priority"
		default SYSTEM_WORKQUEUE_PRIORITY

	config UBX_CONTROLLER_LOG_LEVEL
		int "Log level for the ESB PTX sample"
		default 4

endmenu # APPLICATION CODE

menu "DIAGNOSTICS"
rsource "src/modules/diagnostics/Kconfig"
endmenu # DIAGNOSTICS

menu "AMC_MODULE"
rsource "src/modules/amc/Kconfig"
endmenu # AMC_MODULE

menu "BUZZER_MODULE"
rsource "src/modules/buzzer/Kconfig"
endmenu # BUZZER_MODULE

menu "ERROR_HANDLER"
rsource "src/modules/error_handler/Kconfig"
endmenu # ERROR_HANDLER

menu "FW_UPGRADE"
rsource "src/modules/fw_upgrade/Kconfig"
endmenu # FW_UPGRADE

menu "BLE Modules"
rsource "src/modules/ble/Kconfig"
endmenu

menu "Storage controller"
rsource "src/modules/storage_controller/Kconfig"
endmenu

menu "BLE Events"
rsource "src/events/ble/Kconfig"
endmenu

menu "EP Module"
rsource "src/modules/electric_pulse/Kconfig"
endmenu

menu "EP Events"
rsource "src/events/electric_pulse/Kconfig"
endmenu

menu "Env Sensor"
rsource "src/modules/environment/Kconfig"
endmenu

menu "Messaging"
rsource "src/modules/messaging/Kconfig"
rsource "src/events/messaging/Kconfig"
endmenu

menu "Movement"
rsource "src/modules/movement_controller/Kconfig"
endmenu

menu "PWR Events"
rsource "src/events/power_manager/Kconfig"
endmenu

menu "PWR Module"
rsource "src/modules/power_manager/Kconfig"
endmenu
menu "CELLULAR_CONTROLLER"
rsource "src/modules/cellular_controller/Kconfig"
endmenu # CELLULAR_CONTROLLER

menu "Zephyr Kernel"
source "Kconfig.zephyr" 
endmenu

