menu "APPLICATION_CODE"

	menu "ERROR_HANDLER"
    	rsource "src/modules/error_handler/Kconfig"
	endmenu # ERROR_HANDLER

	config UBX_CONTROLLER_LOG_LEVEL
		int "Log level for the ESB PTX sample"
		default 4

endmenu # APPLICATION CODE

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
