menu "APPLICATION_CODE"

	config APPLICATION_WORKQUEUE_STACK_SIZE
		int "Application workqueue stack size"
		default 4096

	config APPLICATION_WORKQUEUE_PRIORITY
		int "Application workqueue priority"
		default SYSTEM_WORKQUEUE_PRIORITY


	config UBX_CONTROLLER_LOG_LEVEL
		int "Log level for the ESB PTX sample"
		default 4

endmenu # APPLICATION CODE

menu "FW_UPGRADE"
rsource "src/modules/fw_upgrade/Kconfig"
endmenu # FW_UPGRADE

menu "BLE Modules"
rsource "src/modules/ble/Kconfig"
endmenu

menu "MSG Modules"
rsource "src/modules/msg/Kconfig"
endmenu

menu "BLE Events"
rsource "src/events/ble/Kconfig"
endmenu

menu "MSG Events"
rsource "src/events/msg/Kconfig"
endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
