
menu "APPLICATION_CODE"
	menu "ENV_SENSOR"
    	rsource "./../../src/modules/environment/Kconfig"
	endmenu # ENV_SENSOR
endmenu # APPLICATION CODE

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
