
menu "APPLICATION_CODE"
	menu "MESSAGING"
    	rsource "./../../src/modules/messaging/Kconfig"
	endmenu # MESSAGING
    	rsource "./../../src/modules/fw_upgrade/Kconfig"
    	rsource "./../../src/events/fw_upgrade/Kconfig"
endmenu # APPLICATION CODE

menu "ERROR_HANDLER"
rsource "./../../src/modules/error_handler/Kconfig"
endmenu # ERROR_HANDLER

menu "ENVIRONMENT"
rsource "./../../src/modules/environment/Kconfig"
endmenu # ENVIRONMENT

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
