
menu "APPLICATION_CODE"
	menu "MESSAGING"
    	rsource "./../../src/modules/messaging/Kconfig"
	endmenu # MESSAGING
endmenu # APPLICATION CODE

menu "ERROR_HANDLER"
    	rsource "./../../src/modules/error_handler/Kconfig"
	endmenu # ERROR_HANDLER

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
