# Copyright (c) 2021 Nofence AS
 
if LOG

menu "Event options"
comment "Initially logged events"

config LOG_ENVIRONMENT_EVENT
	bool "Environment status event"
	default y

config LOG_REQUEST_ENVIRONMENT_EVENT
	bool "Request environment status event"
	default n
	
endmenu

endif
