
menu "APPLICATION_CODE"
	menu "WATCHDOG"
    	rsource "./../../src/modules/watchdog/Kconfig"
	endmenu # ERROR_HANDLER

endmenu # APPLICATION CODE

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
