#
# Copyright (c) 2020 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig EVENTS
	bool "Event options"
	default y

if EVENTS

config STORAGE_EVENTS_LOG
	bool "Enable logging for GPS module events"
	default y

config CONFIG_EVENTS_LOG
	bool "Enable logging for GPS module events"
	default y

endif #EVENTS
