
menu "APPLICATION_CODE"
	menu "ERROR_HANDLER"
    	rsource "./../../src/modules/error_handler/Kconfig"
	endmenu # ERROR_HANDLER

	menu "PWR_MODULE"
    	rsource "./../../src/modules/power_manager/Kconfig"
	endmenu # PWR_MODULE
endmenu # APPLICATION CODE

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
