
menu "APPLICATION_CODE"
	menu "FW_UPGRADE"
    	rsource "./../../src/modules/cellular_controller/Kconfig"
	endmenu # FW_UPGRADE
endmenu # APPLICATION CODE

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
