# Copyright (c) 2021 Nofence AS
 
if LOG

menu "Event options"

comment "Initially logged events"

config LOG_BLE_DATA_EVENT
	bool "BLE data event"
	default n

config LOG_BLE_CTRL_EVENT
	bool "BLE control event"
	default n

config LOG_BLE_CONN_EVENT
	bool "BLE connection event"
	default n

config LOG_BLE_BEACON_EVENT
	bool "BLE connection event"
	default n

endmenu

endif