
menu "APPLICATION_CODE"
	menu "AMC"
    	rsource "./../../src/modules/amc/Kconfig"
	endmenu # AMC

	menu "ERROR_HANDLER"
    	rsource "./../../src/modules/error_handler/Kconfig"
	endmenu # ERROR_HANDLER
endmenu # APPLICATION CODE

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
