
menu "APPLICATION_CODE"
	menu "AMC"
    	rsource "./../../src/modules/amc/Kconfig"
	endmenu # AMC

	menu "ERROR_HANDLER"
    	rsource "./../../src/modules/error_handler/Kconfig"
	endmenu # ERROR_HANDLER

	menu "MOVE_CONTROLLER"
    	rsource "./../../src/modules/movement_controller/Kconfig"
	endmenu # MOVE_CONTROLLER
endmenu # APPLICATION CODE

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
