/*
 * Copyright (c) 2017 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>

/ {
	model = "Nofence X2.5";
	compatible = "nofence,x25";


	/* Electric pulse */
	ep {
		compatible = "nofence,electric-pulse";
		ep_ctrl: ep_ctrl {
			gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
			label = "EP CTRL";
		};

		ep_detect: ep_detect {
			gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
			label = "EP DETECT";
		};
	};

	/* Convenience aliases */
	aliases {
		eeprom = &eeprom0;
		ep-ctrl = &ep_ctrl;
		ep-detect = &ep_detect;
	};

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	gnss_flash_pwr: periph-pwr-ctrl {
		compatible = "regulator-fixed-sync", "regulator-fixed";
		label = "periph-pwr-ctrl";
		regulator-name = "periph-pwr-ctrl";
		enable-gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
		regulator-boot-on;
	};

};

&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

/* u-blox SARA-R4 Modem */
modem_uart: &uart0 {
	compatible = "nordic,nrf-uarte";
	current-speed = <115200>;
	status = "okay";
	tx-pin = <4>; /* P0.04 */
	rx-pin = <26>; /* P0.26 */
	sara_r4 {
		compatible = "u-blox,sara-r4";
		label = "ublox-sara-r4";
		status = "okay";
		mdm-power-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
		/* mdm-reset-gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>; */
		mdm-vint-gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
	};
};

/* FOR u-blox MIA-M10 GNSS */
gnss_uart: &uart1 {
	compatible = "nordic,nrf-uarte";
	current-speed = <115200>;
	status = "okay";
	tx-pin = <6>; /* P0.06 */
	rx-pin = <7>; /* P0.07 */
	/* TODO: Add driver spesific gpios */
	/* vin-supply = <&gnss_flash_pwr>; */
};

&i2c0 {
	status = "disabled";
};

&i2c1 {
	compatible = "nordic,nrf-twi";
	/* Cannot be used together with spi1. */
	status = "okay";
	sda-pin = <22>; /* P0.22 */
	scl-pin = <25>; /* P0.25 */
	clock-frequency = <I2C_BITRATE_STANDARD>;


};

&pwm0 {
	status = "disabled";
	ch0-pin = <13>;
	ch0-inverted;
};

&spi0 {
	compatible = "nordic,nrf-spi";
	/* Cannot be used together with i2c0. */
	status = "okay";
	sck-pin = <40>; /* P1.08 */
	mosi-pin = <41>;/* P1.09 */
	miso-pin = <11>;/* P0.11 */
	cs-gpios = <&gpio1 14 GPIO_ACTIVE_LOW>, /* CS ACCELEROMETER */
	           <&gpio0 30 GPIO_ACTIVE_LOW>, /* CS BAROMETER */
	           <&gpio0 12 GPIO_ACTIVE_LOW>; /* CS EEPROM */

	movement_sensor: lis2dw12@0 {
		status = "okay";
		compatible = "st,lis2dh";
		reg = <0>; /* First defined chip select number*/
		irq-gpios = <&gpio1 11 0>, <&gpio1 12 0>; /* INT1 and INT2 */
		spi-max-frequency = <8000000>;
		disconnect-sdo-sa0-pull-up; /* Disable pull up during init to save power */
		label = "LIS2DW12-ACCEL";
	};

	environment_sensor: bme280@1 {
		compatible = "bosch,bme280";
		label = "BME280_SPI";
		reg = <1>;
		spi-max-frequency = <1000000>;
	};

	eeprom0: eeprom@2 {
		compatible = "atmel,at25";
		reg = <2>;
		label = "eeprom";
		/*wp-gpios = <&gpiob 7 GPIO_ACTIVE_LOW>;*/
		size = <DT_SIZE_K(4)>;
		pagesize = <16>;
		address-width = <8>;
		timeout = <10>;
		status = "okay";
		spi-max-frequency = <8000000>;
	};
};

&spi1 {
	status = "disabled";
};

&spi2 {
	status = "disabled";
};

&qspi {
	status = "okay";
	sck-pin = <19>;
	io-pins = <20>, <23>, <24>, <21>;
	csn-pins = <18>;
	mx25u64: mx25u6432f@0 {
		compatible = "nordic,qspi-nor";
		reg = <0>;
		/* MX24U64 supports only pp and pp4io */
		writeoc = "pp4io";
		/* MX24U64 supports all readoc options */
		readoc = "read4io";
		sck-frequency = <8000000>;
		label = "MX25U64";
		/* vin-supply = <&gnss_flash_pwr>; */
		jedec-id = [ c2 25 37  ];
		sfdp-bfp = [ e5 20 f1 ff ff ff ff 03 44 eb 08 6b 08 3b 04 bb ee ff ff ff ff ff 00 ff ff ff 00 ff 0c 20 0f 52 10 d8 00 ff 23 72 f5 00 82 ed 04 cc 44 83 68 44 30 b0 30 b0 f7 c4 d5 5c 00 be 29 ff f0 d0 ff ff  ];
		size = <67108864>;
		has-dpd;
		t-enter-dpd = <10000>;
		t-exit-dpd = <35000>;
	};
};

&flash0 {

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x000000000 0x0000C000>;
		};
		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000C000 0x00067000>;
		};
		slot1_partition: partition@73000 {
			label = "image-1";
			reg = <0x00073000 0x00067000>;
		};
		scratch_partition: partition@da000 {
			label = "image-scratch";
			reg = <0x000da000 0x0001e000>;
		};

		/*
		 * The flash starting at 0x000f8000 and ending at
		 * 0x000fffff is reserved for use by the application.
		 */

		/*
		 * Storage partition will be used by FCB/LittleFS/NVS
		 * if enabled.
		 */
		storage_partition: partition@f8000 {
			label = "storage";
			reg = <0x000f8000 0x00008000>;
		};
	};
};

&usbd {
	compatible = "nordic,nrf-usbd";
	status = "disabled";
};
