/* 
 * Uses low-level drivers instead of component drivers.
 */

&uart0 {
    status = "disabled";
    sara_r4 {
        status = "disabled";
    };
};

&uart1 {
    status = "disabled";
};
/*
&spi0 {
    lis2dh12@0 {
        status = "disabled";
    };
    bme280@1 {
        status = "disabled";
    };
    eeprom@2 {
        status = "disabled";
    };
};*/

&qspi {
    mx25r6435f@0 {
        status = "disabled";
    };
};