
menu "APPLICATION_CODE"
	menu "BUZZER_MODULE"
    	rsource "./../../src/modules/buzzer/Kconfig"
	endmenu # BUZZER_MODULE
	menu "ERROR_HANDLER"
    	rsource "./../../src/modules/error_handler/Kconfig"
	endmenu # ERROR_HANDLER
endmenu # APPLICATION CODE

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
