

menu "BLE"
rsource "./../../src/modules/ble/Kconfig"
endmenu # BLE

menu "ERROR_HANDLER"
rsource "./../../src/modules/error_handler/Kconfig"
endmenu # ERROR_HANDLER
menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

menu "FW_UPGRADE"
rsource "./../../src/modules/fw_upgrade/Kconfig"
rsource "./../../src/events/fw_upgrade/Kconfig"
endmenu # FW_UPGRADE

config BT_DEVICE_NAME
    string "Bluetooth device name"
    default "Zephyr"

config BT_L2CAP_TX_MTU
    int "MTU size"
    default 247