
menu "APPLICATION_CODE"
    menu "MESSAGING"
        rsource "./../../src/modules/messaging/Kconfig"
    endmenu # MESSAGING

	menu "ERROR_HANDLER"
    	rsource "./../../src/modules/error_handler/Kconfig"
	endmenu # ERROR_HANDLER

	menu "EP_MODULE"
    	rsource "./../../src/modules/electric_pulse/Kconfig"
	endmenu # ERROR_HANDLER
endmenu # APPLICATION CODE

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
