/* u-blox SARA-R4 Modem */
modem_uart: &uart0 {

	current-speed = <115200>;
	status = "okay";

	sara_r4 {
		compatible = "u-blox,sara-r4";
		label = "ublox-sara-r4";
		status = "okay";
		mdm-power-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
		/* mdm-reset-gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>; */
		mdm-vint-gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
	};
};
