
menuconfig ZOEM8B_GPS
	bool "Zoe M8B SPI driver"
	depends on SPI
	# FPU_SHARING needs to be enabled if FPU is enabled, as other contexts
	# might also use the FPU.
	select FPU_SHARING if FPU
	help
	  Enable Ublox Zoe M8B driver

if ZOEM8B_GPS

config ZOEM8B_GPS_DEV_NAME
	string "ZOE M8B GPS device name"
	default "ZOEM8B_GPS"

config ZOEM8B_GPS_INIT_PRIO
    	int "Initialization priority"
    	default 90

config ZOEM8B_GPS_THREAD_STACK_SIZE
	int "Thread stack size"
	default 2048

config ZOEM8B_GPS_THREAD_PRIORITY
    	int "Thread (preemtible) priority"
    	default 10

endif
